@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple infinite scroll animation */
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-text {
  animation: scrollText 160s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
